@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --background1: #fff;
    --background2: #ccc;
    --accent1: #ff6d00;
    --accent2: #ff9855;
    --accent3: #ffab40;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

h1 {
    margin: 0 0 1em;
    font-size: 1.5em;
    font-weight: bold;
}

p {
    font-size: 15px;
}

.row {
    margin: 0;
    padding: 0;
}

/* insight */
#insightContainer {
    padding: 3.5vw 2.5 2.5vw 7.5vw;
    width: 45vw;
    height: 66.6vh;
    text-align: center;
}

#insight {
    padding: 1em;
    width: 100%;
    height: 100%;
    background-color: var(--background1);
    border: solid var(--accent3) 1em;
    border-radius: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#filters {
    position: absolute;
    width: 8vh;
    left: calc(7.5vw + 0.2em);
    top: calc(13vh + 6em);
}

#plantFilter {
    margin-bottom: 1em;
    cursor: pointer;
}

#seasonFilter {
    cursor: pointer;
}

.grid {
    margin-left: 2.5em;
    padding: 3em;
    width: 100%;
    height: auto;
}

.grid-item {
    width: 8vw;
    height: 8vw;
    background-color: var(--accent2);
    border-radius: 12px;
    cursor: pointer;
    /* display: none; */
}

.grid-item img {
    width: 100%;
}

#insight::-webkit-scrollbar {
    width: 10px;
}

#insight::-webkit-scrollbar-thumb {
    background: var(--accent2);
    border-radius: 8px;
}

#insight::-webkit-scrollbar-thumb:hover {
    background: var(--accent1);
}

/* tryout */
#tryoutContainer {
    padding: 3.5vw 0 2.5vw;
    width: 25vw;
    height: 66.6vh;
    text-align: center;
}

#tryout {
    width: 100%;
    height: 100%;
}

#tryoutWrapper {
    height: 100%;
}

#tryoutModule {
    position: relative;
    width: 100%;
}

#tryoutIngredient {
    position: absolute;
    width: 5%;
    left: 55vw;
    /* visibility: hidden; */
}

/* cookbook */
#cookbookContainer {
    padding: 3.5vw 7.5vw 2.5vw 2.5;
    width: 30vw;
    height: 66.6vh;
    text-align: center;
    position: relative;
}

#cookbookModule {
    transform: rotate(90deg) scale(0.5);
    position: absolute;
    bottom: -10vw;
    right: 7.5vw;
    cursor: pointer;
}

#cookbook {
    width: 100%;
    height: 100%;
    background-color: var(--background2);
    border: solid var(--accent3) 1em;
    border-radius: 12px;
    text-align: left;
}

#cookbook h2 {
    margin: 1em 2em;
    font-size: 1.25em;
    font-weight: bold;
}

#cookbook p {
    margin: 0 2.5em;
    font-size: 1em;
    font-style: italic;
}

.carousel-inner {
    height: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    margin-top: 40vh;
}

.carousel-item {
    visibility: visible;
}

/* ai bar*/
#ai {
    width: 100vw;
    height: 25vh;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--accent2);
}

/* console */
#console {
    margin: 2.5vw 2.5vw 2.5vw 7.5vw;
    padding: 1em;
    width: 37.5vw;
    height: calc(25vh - 4.5vw);
    overflow-y: scroll;
    background-color: #000;
    color: #fff;
    border-radius: 12px;
    position: relative;
}

#console::-webkit-scrollbar {
    width: 10px;
}

#console::-webkit-scrollbar-thumb {
    background: rgb(61, 61, 61);
    border-radius: 8px;
}

#console::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 77, 77);
}

#consoleText {
    position: absolute;
    bottom: 0;
    margin-bottom: 12px;
    margin-top: 12px;
    white-space: pre-line;
    font-family: 'Share Tech Mono', monospace;
}

/* explanation */
#instructions {
    margin: -2.5vw 2.5vw 2.5vw 2.5vw;
    padding: 2em;
    width: 15vw;
    height: 27.5vh;
    background-color: var(--background1);
    border-radius: 12px;
}

/* reinforcement */
#reinforcement {
    margin: 2.5vw 2.5vw 2.5vw 2.5vw;
    width: 22.5vw;
    height: calc(25vh - 4.5vw);
    background-color: var(--background1);
    border-radius: 12px;
}

.range-field {
    margin-top: 5vh;
    width: 100%;
}

#slider {
    margin-bottom: 3.5vh;
}

input[type='range']::-webkit-slider-thumb {
    background-color: var(--accent3);
}

input[type='range']::-moz-range-thumb {
    background-color: var(--accent3);
}

input[type='range']::-ms-thumb {
    background-color: var(--accent3);
}

input[type='range'] + .thumb {
    background-color: var(--accent1);
}

input[type='range'] + .thumb.active .value {
    color: #fff;
}
