html {
  margin: 0;
  padding: 0;
  overflow: hidden
}

body {
  margin: 2.5em;
}

canvas {
  display: block;
}

h2 {
  margin-top: 1em;
}

h3, h4 {
  margin-bottom: 1.5em;
  font-size: 1em;
}

h4 {
  font-weight: normal;
  font-style: italic;
}

#plantBtn {
  background-color: blue;
}

.recipeContainer {
  margin: 1em 2.5em 0 0;
  padding: 2.5em;
  border: solid 2px;
}

.recipeVector {
  display: none;
}

.oldIngr {
  color: red;
  /* visibility: hidden; */
}

.newIngr {
  color: green;
  /* visibility: hidden; */
}